@model List<Income>
<div class="col-12">
    <div class="card">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-header">Incomes</h5>
            <a asp-action="Create" class="btn btn-outline-primary btn-sm" style="margin-right:20px">Create</a>
        </div>
        <div class="card-body">
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped dataTable no-footer" id="myTable" role="grid" aria-describedby="table-1_info">
                            <thead>
                                <tr role="row">

                                    <th>Money</th>
                                    <th>About</th>
                                    <th>Create Time</th>
                                    <th>User</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (Income item in Model)
                                {
                                    <tr>

                                        <td>
                                            @item.Money
                                        </td>

                                        <td>
                                            @item.About
                                        </td>

                                        <td>
                                            @item.CreateTime.ToString("dd/M/yy hh:mm")
                                        </td>

                                        <td>
                                            @item.AppUser.UserName
                                        </td>

                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Css{
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css " />
    <link rel="stylesheet" href="~/assets/bundles/datatables/Select-1.2.4/css/select.bootstrap4.min.css">

        }
@section Scripts{
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js "></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
    <script src="~/assets/bundles/datatables/export-tables/buttons.print.min.js"></script>
    <script src="~/assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
    <script src="~/assets/bundles/datatables/export-tables/jszip.min.js"></script>
    <script src="~/assets/bundles/datatables/export-tables/vfs_fonts.js"></script>

    <script src="~/assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
    <script src="~/assets/bundles/ckeditor/ckeditor.js"></script>
    <script src="~/assets/js/page/ckeditor.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
 }
